.body {
  max-width: 1440px;
}

.cabecalho {
  padding: 30px 15px;
  position: relative;
}

.logo {
  background: url(./images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  display: inline-block;
  border-radius: 30px;
  margin-left: 30px;
}

.logo h1 {
  font-size: 0;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 30px;
  margin-right: 50px;
}

li {
  display: inline-block;
  padding: 15px;
}

li a:hover {
  font-weight: bold;
}

/*---------------------------*/

.painel {
  background: url(./images/painel.jpg) center center no-repeat;
  height: 600px;
  margin-top: 10px;
}

.painel h2 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 50%;
  transition: translatey(-50%);
}

/*---------------------------*/

.secao-com-texto {
  padding: 153px;
  text-align: center;
  clear: both;
}

.secao-com-texto img {
  width: 170px;
  height: 170px;
  margin-bottom: 70px;
}

.secao-com-texto h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 37px;
}

.secao-com-texto p {
  font-size: 18px;
  width: 702px;
  margin: 0 auto;
}

.secao-com-texto.onde-estamos p {
  font-size: 28px;
}

/*---------------------------*/
.ladrilho div {
  float: left;
}

.ladrilho .grande {
  background: url(./images/4.jpg) center center no-repeat;
  height: 600px;
  width: 50%;
}
.ladrilho .pequeno {
  background: url(./images/3.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}
.ladrilho .pequeno.grao {
  background: url(./images/2.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}
.ladrilho .medio {
  background: url(./images/1.jpg) center center no-repeat;
  height: 300px;
  width: 50%;
}
